:root {
  --alt-bg-color: #0B0014;
  --fg-color: #FEFFFE;
  --out-bg-color: #750D37;
  --alt-link-color: #B3DEC1;
  --header-color: #B3DEC1;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   margin: 0;
   background-color: #2e3234;
   color: var(--fg-color, #E5FCF5);
}

body > header {
  height: 3em;
  background: var(--out-bg-color, #750D37);
  box-shadow: 0px 4px 20px 0px #0B0014;
  display: flex;
}

.home-button {
  margin-left: 2em;
  align-self: center;
}

.home-icon {
  height: 2em;
}

main, footer {
  padding: 2em;
}

h1, h2, h3 {
  color: var(--header-color);
}

footer {
  background-color: var(--out-bg-color);
  color: var(--fg-color);
}

footer a,
footer a:visited {
  color: var(--alt-link-color);
}

.metadata {
  display: none;
}
