   </section>
  </main>
  <footer>
    <p>Content courtesy of the <a href="http://avp.wikia.com/wiki/Main_Page">Xenopedia</a>, and licensed under the <a href="http://www.wikia.com/Licensing">CC-BY-SA</a>.</p>
  </footer>
  <script src="/main.js"></script>
  <script src="/node_modules/fritz/window.js"></script>
  <script>
    fritz.use(new Worker('/app.js'));
  </script>
</body>
</html>