  </main>
  <footer>
    <p>Content courtesy of the <a href="http://avp.wikia.com/wiki/Main_Page">Xenopedia</a>, and licensed under the <a href="http://www.wikia.com/Licensing">CC-BY-SA</a>.</p>
  </footer>
  <script id="launcher" src="/main.js" data-state="{{toJSON state}}"></script>
</body>
</html>